USE [master]
GO
/****** Object:  Database [CRICUT]    Script Date: 21/9/2023 8:04:14 PM ******/
CREATE DATABASE [CRICUT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRICUT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\CRICUT.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CRICUT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\CRICUT_log.ldf' , SIZE = 2304KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRICUT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRICUT]
GO
/****** Object:  Schema [CUPID]    Script Date: 21/9/2023 8:04:14 PM ******/
CREATE SCHEMA [CUPID]
GO
/****** Object:  Table [CUPID].[Access]    Script Date: 21/9/2023 8:04:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUPID].[Access](
	[User lvl] [nvarchar](50) NOT NULL,
	[Production] [bit] NOT NULL,
	[Master] [bit] NOT NULL,
	[Setting] [bit] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [CUPID].[ContainerShipping]    Script Date: 21/9/2023 8:04:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUPID].[ContainerShipping](
	[Loading ID] [uniqueidentifier] NOT NULL,
	[Master Container ID] [uniqueidentifier] NULL,
	[Master Container Name] [nchar](50) NULL,
	[Word Order ID] [uniqueidentifier] NULL,
	[Work Order] [nvarchar](50) NULL,
	[Sub Group] [nvarchar](50) NULL,
	[Pallet No] [nvarchar](50) NULL,
	[Shift] [nvarchar](50) NULL,
	[UserID] [nchar](50) NULL,
	[Date] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [CUPID].[CustomerMaster]    Script Date: 21/9/2023 8:04:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUPID].[CustomerMaster](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[Customer ID] [uniqueidentifier] NOT NULL,
	[Company Name] [nvarchar](50) NULL,
	[Customer Name] [nvarchar](50) NULL,
	[Contact No] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Country Code] [nvarchar](50) NULL,
	[Street] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Postcode] [int] NULL,
	[Address] [nvarchar](200) NULL,
	[Delete] [bit] NULL,
	[Modified Date] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [CUPID].[FailMaster]    Script Date: 21/9/2023 8:04:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUPID].[FailMaster](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[FailID] [uniqueidentifier] NULL,
	[FailCode] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Delete] [bit] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [CUPID].[LineMaster]    Script Date: 21/9/2023 8:04:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUPID].[LineMaster](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[LineID] [uniqueidentifier] NOT NULL,
	[Line] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Delete] [bit] NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [CUPID].[ModelMaster]    Script Date: 21/9/2023 8:04:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUPID].[ModelMaster](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[Model ID] [uniqueidentifier] NOT NULL,
	[Model] [nvarchar](50) NULL,
	[Bin] [nvarchar](50) NULL,
	[Suffix] [nvarchar](50) NULL,
	[BarcodeLength] [int] NULL,
	[Description] [nvarchar](100) NULL,
	[Modified Date] [datetime] NULL,
	[Delete] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [CUPID].[PartMaster]    Script Date: 21/9/2023 8:04:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUPID].[PartMaster](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[Part ID] [uniqueidentifier] NULL,
	[Part No] [nvarchar](50) NULL,
	[Part Name] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[Modified Date] [datetime] NULL,
	[Delete] [bit] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [CUPID].[ProductOrder]    Script Date: 21/9/2023 8:04:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUPID].[ProductOrder](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[ProductOrderID] [uniqueidentifier] NULL,
	[SerialNo] [nvarchar](50) NULL,
	[FailID] [uniqueidentifier] NULL,
	[ProductionDate] [datetime] NULL,
	[Process] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [CUPID].[ProductOrderMaster]    Script Date: 21/9/2023 8:04:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUPID].[ProductOrderMaster](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[ProductOrderID] [uniqueidentifier] NULL,
	[ProductOrder] [nvarchar](50) NULL,
	[PartID] [uniqueidentifier] NULL,
	[ModelID] [uniqueidentifier] NULL,
	[CustomerID] [uniqueidentifier] NULL,
	[Total] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[Delete] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [CUPID].[UserMaster]    Script Date: 21/9/2023 8:04:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUPID].[UserMaster](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[User ID] [nvarchar](50) NULL,
	[User Name] [nvarchar](100) NULL,
	[User Level] [nvarchar](50) NULL,
	[Password] [nvarchar](200) NULL,
	[Modified Date] [datetime] NULL,
	[Delete] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [CUPID].[WorkOrder]    Script Date: 21/9/2023 8:04:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUPID].[WorkOrder](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[Work Order ID] [uniqueidentifier] NULL,
	[Line] [nvarchar](50) NULL,
	[Serial No] [nvarchar](50) NULL,
	[Carton] [nchar](4) NULL,
	[Pallet No] [nvarchar](50) NULL,
	[Production Date] [datetime] NULL,
	[Shift] [nchar](10) NULL,
	[QCout] [bit] NULL,
	[OutDate] [datetime] NULL,
	[OutUser] [nvarchar](50) NULL,
	[QCin] [bit] NULL,
	[InDate] [datetime] NULL,
	[InUser] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [CUPID].[WorkOrderMaster]    Script Date: 21/9/2023 8:04:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUPID].[WorkOrderMaster](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[Work Order ID] [uniqueidentifier] NULL,
	[Work Order] [nvarchar](50) NOT NULL,
	[Sub Group] [nvarchar](50) NULL,
	[Part ID] [uniqueidentifier] NULL,
	[Model ID] [uniqueidentifier] NULL,
	[LineID] [uniqueidentifier] NULL,
	[Quantity] [int] NULL,
	[Count] [int] NULL,
	[Total Order Count] [int] NULL,
	[Description] [nvarchar](50) NULL,
	[Completed] [bit] NULL,
	[Modified Date] [datetime] NULL,
	[ScanOption] [int] NULL,
	[Delete] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [CUPID].[WorkOrderPalletizing]    Script Date: 21/9/2023 8:04:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUPID].[WorkOrderPalletizing](
	[Index] [int] IDENTITY(1,1) NOT NULL,
	[Work Order ID] [uniqueidentifier] NULL,
	[Line] [nvarchar](50) NULL,
	[Serial No] [nvarchar](50) NULL,
	[Carton] [nchar](4) NULL,
	[Pallet No] [nvarchar](50) NULL,
	[Production Date] [datetime] NULL,
	[Shift] [nchar](10) NULL,
	[QCout] [bit] NULL,
	[OutDate] [datetime] NULL,
	[OutUser] [nvarchar](50) NULL,
	[QCin] [bit] NULL,
	[InDate] [datetime] NULL,
	[InUser] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [CUPID].[WorkOrderStatus]    Script Date: 21/9/2023 8:04:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CUPID].[WorkOrderStatus](
	[Work Order ID] [uniqueidentifier] NULL,
	[Work Order] [nvarchar](50) NULL,
	[Sub Group] [nvarchar](50) NULL,
	[Pallet No] [nvarchar](50) NULL,
	[Shift] [nvarchar](50) NULL,
	[PalletScanCompleted] [bit] NULL,
	[PalletizingCompleted] [bit] NULL,
	[Modified Date] [datetime] NULL,
	[Delete] [bit] NULL,
	[QCout] [bit] NULL,
	[OutDate] [datetime] NULL,
	[OutUser] [nvarchar](50) NULL,
	[QCin] [bit] NULL,
	[InDate] [datetime] NULL,
	[InUser] [nvarchar](50) NULL
) ON [PRIMARY]

GO
INSERT [CUPID].[Access] ([User lvl], [Production], [Master], [Setting]) VALUES (N'Technician', 1, 1, 0)
INSERT [CUPID].[Access] ([User lvl], [Production], [Master], [Setting]) VALUES (N'Staff', 1, 0, 0)
INSERT [CUPID].[Access] ([User lvl], [Production], [Master], [Setting]) VALUES (N'Engineer', 1, 1, 0)
INSERT [CUPID].[ContainerShipping] ([Loading ID], [Master Container ID], [Master Container Name], [Word Order ID], [Work Order], [Sub Group], [Pallet No], [Shift], [UserID], [Date], [IsDeleted]) VALUES (N'3e2d2e72-f41b-4a52-9561-ed3878ee7f10', N'3cceee97-5bba-4936-ba81-4579fa061972', N'                                                  ', N'c52b4d75-f7e2-4fda-9bea-efed4b34d7df', N'', N'', N'', N'', N'                                                  ', N'', 0)
INSERT [CUPID].[ContainerShipping] ([Loading ID], [Master Container ID], [Master Container Name], [Word Order ID], [Work Order], [Sub Group], [Pallet No], [Shift], [UserID], [Date], [IsDeleted]) VALUES (N'a0fded86-1dd1-4f17-b1cb-d94f65c540d3', N'00000000-0000-0000-0000-000000000000', N'                                                  ', N'934fa113-c6aa-418d-91a0-c45fb13f1014', N'po1', N'Cricut', N'1', N'Day', N'                                                  ', N'21/9/2023 5:47:24 PM', 0)
INSERT [CUPID].[ContainerShipping] ([Loading ID], [Master Container ID], [Master Container Name], [Word Order ID], [Work Order], [Sub Group], [Pallet No], [Shift], [UserID], [Date], [IsDeleted]) VALUES (N'2b473792-57c5-4fc0-a08e-96bddd4e1b4f', N'00000000-0000-0000-0000-000000000000', N'                                                  ', N'934fa113-c6aa-418d-91a0-c45fb13f1014', N'po1', N'Cricut', N'1', N'Day', N'                                                  ', N'21/9/2023 5:50:20 PM', 0)
SET IDENTITY_INSERT [CUPID].[CustomerMaster] ON 

INSERT [CUPID].[CustomerMaster] ([Index], [Customer ID], [Company Name], [Customer Name], [Contact No], [Email], [Country], [Country Code], [Street], [City], [Postcode], [Address], [Delete], [Modified Date]) VALUES (1, N'4ad4a756-e01b-4e18-975e-b8cda44313ec', N'C1', N'C1', N'5634253642', N'C1@mail.com', N'Malaysia', N'15097', N'Jalan BP1', N'Bukit Jalil', 57000, N'Jalan BP1, 
Bukit Jalil, 
57000 Kuala Lumpur,
 Malaysia', 1, CAST(N'2021-05-04 10:23:50.000' AS DateTime))
INSERT [CUPID].[CustomerMaster] ([Index], [Customer ID], [Company Name], [Customer Name], [Contact No], [Email], [Country], [Country Code], [Street], [City], [Postcode], [Address], [Delete], [Modified Date]) VALUES (3, N'00000000-0000-0000-0000-000000000000', N'C2', N'C2', N'52452345', N'C2@mail.com', N'Malaysia', N'25240', N'', N'', 0, N'BLABALB', 1, CAST(N'2021-05-04 09:41:45.000' AS DateTime))
INSERT [CUPID].[CustomerMaster] ([Index], [Customer ID], [Company Name], [Customer Name], [Contact No], [Email], [Country], [Country Code], [Street], [City], [Postcode], [Address], [Delete], [Modified Date]) VALUES (5, N'71a7ea1d-b71b-4fed-bed5-37b0da075ac5', N'C3', N'C3', N'435245', N'C3@mail.com', N'Singapore', N'32462', N'', N'', 236475, N'', 1, CAST(N'2021-04-26 17:21:22.000' AS DateTime))
SET IDENTITY_INSERT [CUPID].[CustomerMaster] OFF
SET IDENTITY_INSERT [CUPID].[FailMaster] ON 

INSERT [CUPID].[FailMaster] ([Index], [FailID], [FailCode], [Description], [Delete], [ModifiedDate]) VALUES (1023, N'dcd9b96e-d0d9-413f-9492-e89eb7eb76b6', N'FAIL2', N'Fail 2', 0, CAST(N'2021-05-17 10:07:14.000' AS DateTime))
INSERT [CUPID].[FailMaster] ([Index], [FailID], [FailCode], [Description], [Delete], [ModifiedDate]) VALUES (1024, N'5ba8b67d-4d59-4ad1-b53e-d104969fa945', N'FAIL3', N'Fail 3', 0, CAST(N'2021-05-03 14:15:41.000' AS DateTime))
INSERT [CUPID].[FailMaster] ([Index], [FailID], [FailCode], [Description], [Delete], [ModifiedDate]) VALUES (1025, N'c37642f3-fc17-4a52-943b-95817a05595b', N'FAIL4', N'Fail 4', 0, CAST(N'2021-05-03 14:15:51.000' AS DateTime))
SET IDENTITY_INSERT [CUPID].[FailMaster] OFF
SET IDENTITY_INSERT [CUPID].[LineMaster] ON 

INSERT [CUPID].[LineMaster] ([Index], [LineID], [Line], [Description], [Delete], [ModifiedDate]) VALUES (1, N'8f99a7b7-80d5-4cd0-aa2a-505b00c0123e', N'line1', N'line 1', 0, CAST(N'2021-05-11 09:05:17.000' AS DateTime))
INSERT [CUPID].[LineMaster] ([Index], [LineID], [Line], [Description], [Delete], [ModifiedDate]) VALUES (2, N'6bc81d3c-ca33-467d-9067-94f6ed33abdc', N'line2', N'line 2', 1, CAST(N'2021-05-17 15:56:20.000' AS DateTime))
INSERT [CUPID].[LineMaster] ([Index], [LineID], [Line], [Description], [Delete], [ModifiedDate]) VALUES (3, N'e4842245-b533-45a7-ae89-9a347d353a11', N'line3', N'line3', 1, CAST(N'2021-05-10 09:34:01.000' AS DateTime))
SET IDENTITY_INSERT [CUPID].[LineMaster] OFF
SET IDENTITY_INSERT [CUPID].[ModelMaster] ON 

INSERT [CUPID].[ModelMaster] ([Index], [Model ID], [Model], [Bin], [Suffix], [BarcodeLength], [Description], [Modified Date], [Delete]) VALUES (1, N'74666731-3f98-4b8b-b17b-a1816dd055e2', N'CUPID', N'123', NULL, NULL, N'123', CAST(N'2021-05-04 09:43:38.000' AS DateTime), 1)
INSERT [CUPID].[ModelMaster] ([Index], [Model ID], [Model], [Bin], [Suffix], [BarcodeLength], [Description], [Modified Date], [Delete]) VALUES (2, N'46905545-69b6-465f-afa3-aa7b01dff013', N'1122', N'23333', NULL, NULL, N'1111', CAST(N'2021-05-05 10:57:47.000' AS DateTime), 1)
INSERT [CUPID].[ModelMaster] ([Index], [Model ID], [Model], [Bin], [Suffix], [BarcodeLength], [Description], [Modified Date], [Delete]) VALUES (3, N'8262f8b2-0cb0-419e-b727-386d4f19be73', N'1133', N'4444', NULL, NULL, N'1111', CAST(N'2021-05-03 09:03:10.000' AS DateTime), 1)
SET IDENTITY_INSERT [CUPID].[ModelMaster] OFF
SET IDENTITY_INSERT [CUPID].[PartMaster] ON 

INSERT [CUPID].[PartMaster] ([Index], [Part ID], [Part No], [Part Name], [Description], [Modified Date], [Delete]) VALUES (1, N'4e571f1e-635b-4f51-a298-7ab719c2b4c5', N'CPD2007613', N'CRICUT1', N'', CAST(N'2021-05-04 09:43:48.000' AS DateTime), 1)
INSERT [CUPID].[PartMaster] ([Index], [Part ID], [Part No], [Part Name], [Description], [Modified Date], [Delete]) VALUES (4, N'4ad372b1-ea27-414e-af17-fff5f4487e83', N'screw', N'screw', N'screw', CAST(N'2021-05-04 09:41:56.000' AS DateTime), 1)
INSERT [CUPID].[PartMaster] ([Index], [Part ID], [Part No], [Part Name], [Description], [Modified Date], [Delete]) VALUES (3, N'eaaab8d9-0d0c-4d6a-8095-84404e0bacf2', N'CPD20000', N'testing', N'ccc', CAST(N'2021-04-27 09:04:33.000' AS DateTime), 1)
SET IDENTITY_INSERT [CUPID].[PartMaster] OFF
SET IDENTITY_INSERT [CUPID].[ProductOrder] ON 

INSERT [CUPID].[ProductOrder] ([Index], [ProductOrderID], [SerialNo], [FailID], [ProductionDate], [Process]) VALUES (1219, N'00000000-0000-0000-0000-000000000000', N'1', N'00000000-0000-0000-0000-000000000000', CAST(N'2021-05-17 16:12:35.000' AS DateTime), N'1')
INSERT [CUPID].[ProductOrder] ([Index], [ProductOrderID], [SerialNo], [FailID], [ProductionDate], [Process]) VALUES (1221, N'00000000-0000-0000-0000-000000000000', N'3', N'00000000-0000-0000-0000-000000000000', CAST(N'2021-05-17 16:12:54.000' AS DateTime), N'1')
INSERT [CUPID].[ProductOrder] ([Index], [ProductOrderID], [SerialNo], [FailID], [ProductionDate], [Process]) VALUES (1222, N'00000000-0000-0000-0000-000000000000', N'4', N'4826ce0e-a198-4239-9e6d-757eb22be7fa', CAST(N'2021-05-17 16:12:57.000' AS DateTime), N'1')
SET IDENTITY_INSERT [CUPID].[ProductOrder] OFF
SET IDENTITY_INSERT [CUPID].[ProductOrderMaster] ON 

INSERT [CUPID].[ProductOrderMaster] ([Index], [ProductOrderID], [ProductOrder], [PartID], [ModelID], [CustomerID], [Total], [ModifiedDate], [Delete]) VALUES (1051, N'00000000-0000-0000-0000-000000000000', N'po1', N'9105b63b-52af-472d-847b-4898b4035e04', N'fb1399e3-9d1f-48dd-bf4e-9a000047cde6', N'3f88f60f-a7e3-4a8b-8c27-4d57ae676189', 7, CAST(N'2021-05-17 16:12:27.000' AS DateTime), 0)
INSERT [CUPID].[ProductOrderMaster] ([Index], [ProductOrderID], [ProductOrder], [PartID], [ModelID], [CustomerID], [Total], [ModifiedDate], [Delete]) VALUES (1052, N'438f9b10-8f9e-4fa3-bbe7-838d531d8354', N'po2', N'f9fe0163-dd09-4dfa-9451-a01dbf0d80f3', N'fb1399e3-9d1f-48dd-bf4e-9a000047cde6', N'3f88f60f-a7e3-4a8b-8c27-4d57ae676189', 4, CAST(N'2021-05-18 09:53:54.000' AS DateTime), 0)
INSERT [CUPID].[ProductOrderMaster] ([Index], [ProductOrderID], [ProductOrder], [PartID], [ModelID], [CustomerID], [Total], [ModifiedDate], [Delete]) VALUES (1053, N'41d35b40-f748-48cf-9fd3-400db170537b', N'po3', N'686e25eb-4bd2-4d5e-93f0-7ce312bdf1c3', N'602f0aac-63a4-48eb-a800-da5465d5422c', N'3f88f60f-a7e3-4a8b-8c27-4d57ae676189', 11, CAST(N'2021-05-18 12:11:22.000' AS DateTime), 0)
SET IDENTITY_INSERT [CUPID].[ProductOrderMaster] OFF
SET IDENTITY_INSERT [CUPID].[UserMaster] ON 

INSERT [CUPID].[UserMaster] ([Index], [User ID], [User Name], [User Level], [Password], [Modified Date], [Delete]) VALUES (1, N'U0001', N'admin', N'Admin', N'pIbvhgmpVHahDBTYUgQvew==', CAST(N'2021-09-23 15:23:52.000' AS DateTime), 0)
INSERT [CUPID].[UserMaster] ([Index], [User ID], [User Name], [User Level], [Password], [Modified Date], [Delete]) VALUES (2, N'U0002', N'chuah', N'Technician', N'rqvTiDNvXEiaBe8mLVIOkA==', CAST(N'2021-05-04 16:19:00.000' AS DateTime), 0)
INSERT [CUPID].[UserMaster] ([Index], [User ID], [User Name], [User Level], [Password], [Modified Date], [Delete]) VALUES (3, N'U0003', N'georgy', N'Staff', N'vEEc2LB4Hg8faJFF+jSjlA==', CAST(N'2021-05-04 16:18:52.000' AS DateTime), 0)
SET IDENTITY_INSERT [CUPID].[UserMaster] OFF
SET IDENTITY_INSERT [CUPID].[WorkOrder] ON 

INSERT [CUPID].[WorkOrder] ([Index], [Work Order ID], [Line], [Serial No], [Carton], [Pallet No], [Production Date], [Shift], [QCout], [OutDate], [OutUser], [QCin], [InDate], [InUser]) VALUES (477, N'0c857d61-d818-47ac-851c-01331ed782a4', N'line1', N'1', N'0001', N'1', CAST(N'2021-05-21 11:30:14.000' AS DateTime), N'DAY       ', 0, NULL, NULL, 0, NULL, NULL)
INSERT [CUPID].[WorkOrder] ([Index], [Work Order ID], [Line], [Serial No], [Carton], [Pallet No], [Production Date], [Shift], [QCout], [OutDate], [OutUser], [QCin], [InDate], [InUser]) VALUES (478, N'0c857d61-d818-47ac-851c-01331ed782a4', N'line1', N'2', N'0002', N'1', CAST(N'2021-05-21 11:30:14.000' AS DateTime), N'DAY       ', 0, NULL, NULL, 0, NULL, NULL)
INSERT [CUPID].[WorkOrder] ([Index], [Work Order ID], [Line], [Serial No], [Carton], [Pallet No], [Production Date], [Shift], [QCout], [OutDate], [OutUser], [QCin], [InDate], [InUser]) VALUES (479, N'0c857d61-d818-47ac-851c-01331ed782a4', N'line1', N'3', N'0003', N'1', CAST(N'2021-05-21 11:30:14.000' AS DateTime), N'DAY       ', 0, NULL, NULL, 0, NULL, NULL)
GO
SET IDENTITY_INSERT [CUPID].[WorkOrder] OFF
SET IDENTITY_INSERT [CUPID].[WorkOrderMaster] ON 

INSERT [CUPID].[WorkOrderMaster] ([Index], [Work Order ID], [Work Order], [Sub Group], [Part ID], [Model ID], [LineID], [Quantity], [Count], [Total Order Count], [Description], [Completed], [Modified Date], [ScanOption], [Delete]) VALUES (1, N'0c857d61-d818-47ac-851c-01331ed782a4', N'wo1', NULL, N'9105b63b-52af-472d-847b-4898b4035e04', N'602f0aac-63a4-48eb-a800-da5465d5422c', N'8f99a7b7-80d5-4cd0-aa2a-505b00c0123e', 3, 4, 4, N'wo1', 1, CAST(N'2021-05-21 16:03:44.000' AS DateTime), 3, 1)
INSERT [CUPID].[WorkOrderMaster] ([Index], [Work Order ID], [Work Order], [Sub Group], [Part ID], [Model ID], [LineID], [Quantity], [Count], [Total Order Count], [Description], [Completed], [Modified Date], [ScanOption], [Delete]) VALUES (2, N'b8eb1978-d3cf-4281-b91c-bdc167d54161', N'wo2', NULL, N'9105b63b-52af-472d-847b-4898b4035e04', N'602f0aac-63a4-48eb-a800-da5465d5422c', N'8f99a7b7-80d5-4cd0-aa2a-505b00c0123e', 3, 4, 4, N'description of wo2', 1, CAST(N'2021-05-21 16:03:44.000' AS DateTime), 3, 1)
INSERT [CUPID].[WorkOrderMaster] ([Index], [Work Order ID], [Work Order], [Sub Group], [Part ID], [Model ID], [LineID], [Quantity], [Count], [Total Order Count], [Description], [Completed], [Modified Date], [ScanOption], [Delete]) VALUES (2018, N'1fac66ee-213f-4abe-92ef-3d7a9a727d0b', N'wo6', N'Selva1', N'a01010a7-0fd4-46d2-9bed-0f41de274352', N'602f0aac-63a4-48eb-a800-da5465d5422c', N'8f99a7b7-80d5-4cd0-aa2a-505b00c0123e', 5, 10, 10, N'Test1', 0, CAST(N'2021-09-07 14:32:59.000' AS DateTime), 2, 1)
GO
SET IDENTITY_INSERT [CUPID].[WorkOrderMaster] OFF
INSERT [CUPID].[WorkOrderStatus] ([Work Order ID], [Work Order], [Sub Group], [Pallet No], [Shift], [PalletScanCompleted], [PalletizingCompleted], [Modified Date], [Delete], [QCout], [OutDate], [OutUser], [QCin], [InDate], [InUser]) VALUES (N'89d99281-a9db-4492-a6d7-c97cada4f39c', N'wo4', N'Carton', N'1', N'Day', 1, 1, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL)
USE [master]
GO
